@import "./variables";

@mixin brands-logo {
  font-size: 25px;
  color: $logo-text-color;
  padding: 10px 10px;
  width: 40px;
  margin-left: 5px;
}

body {
  background-color: #c3cfe2;
}

.socialmedia-bar {
  display: block;

  .blog {
    top: 800px;
    background-color: $blog-color;
  }
  .twitter {
    top: 856px;
    background-color: $twitter-color;
  }
  .linkedin {
    top: 912px;
    background-color: $linkedin-color;
  }
  .facebook {
    top: 968px;
    background-color: $facebook-color;
  }
  .github {
    top: 1024px;
    background-color: $github-color;
  }
}

.media {
  background: rgb(158, 60, 60);
  text-transform: uppercase;
  padding: 4px;
  position: fixed;
  width: 250px;
  right: -200px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;

  .fa-brands {
    @include brands-logo();
  }
  .fa-solid {
    @include brands-logo();
  }
  .fa-facebook-f {
    margin-left: 8px;
  }

  a {
    color: $logo-text-color;
    font-size: 12px;
    font-family: $font-media-bar;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
  }
}

.media:hover {
  right: 0;
}
